<div class="card mx-3">
    <div class="card-header bg-info mb-0">
        {{logOrSign}}
    </div>
    {{#if loggingIn}}
    <form class="login-form card-body" id="login-form">
    {{else}}
    <form class="signup-form card-body" id="signup-form">
        <div>
            <label for="username" class="form-label">User name</label>
            <input type="text" class="form-control" id="username" placeholder="Enter user name">
        </div>
    {{/if}}
        <div>
            <label for="email" class="form-label mt-3">Email Address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email address">
        </div>
        <div>
            <label for="password" class="form-label mt-3">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-2">{{logOrSign}}</button>

        {{#if loggingIn}}
        <a class="nav-link px-0" href="/signup">Sign Up Instead</a>
        {{else}}
        <a class="nav-link px-0" href="/login">Login Instead</a>
        {{/if}}
    </form>
</div>

