<div>
    FRIENDS
    
    <form id="menu-form">
        <button>+channel</button>
    
    {{#each channels}}
        <button>{{name}}</button>
    {{/each}}
    </form>
</div>
<script src="/javascript/menu.js"></script>