<section class="frame">
    <div class="who-are-we">
        <h1 class="about-title">We Are Campfire</h1>
        
        
        <p class="about-intro line-1 anim-typewriter">Hi there my fellow bootcamp student. How has your journey been so far? Studying at a bootcamp can be both fun and exhaustive sometimes... We understand what you are going through. But hey, you seem like a good person! Why don't you come join us at the <span>Campfire</span>? Every user here has similar stories to share and knowledge that all of us can benefit from!</p>

        <h3 class="about-prompt">Don't believe me? Check out our Wall of Posts or the Live-Chat!</h3>
        <div class="about-buttons-box">
            {{!-- Make sure to prompt user to login for live chat --}}
            <a class="about-button" href="/chat">Live Chat</a>
            <a class="about-button" href="/posts-wall">Posts Wall</a>
        </div>

    </div>
</section>