{{!-- have two columns with bootstrap, one for menu, other for feed --}}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12 menu">
            Menu
        </div>

        {{!-- Global feed --}}
        <div class="col-md-9 col-sm-12">
            {{#each posts as |post|}}
            {{> post-info post }}
            {{/each}}
        </div>

        
    </div>
</div>

<script src="/javascript/love.js"></script>