{{!-- Make this into a button --}}
{{#if loggedIn}}
<h2 class="section-title"> Add New Post? </h2>

<section class="new-post-form popup" id="popup">
  <form class="card w-75 add-post">
    <div class="card-header">
        Create new Post
    </div>

    <div class="card-body">
      <div class="form-group">
        <textarea class="form-control add-post-txt" placeholder="Enter content" id="post-content" name="post-content" /></textarea>
      </div>
      <button type="submit" class="btn btn-secondary general-button">Create</button>
    </div>
  </form>
</section>
{{/if}}
<h2 class="section-title"> Wall of Posts </h2>

{{!-- Sort By: Oldest, Newest, Most Popular --}}
<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <div class="sort-by-box"> 
                <h5>Sort By: </h5>
                <ul>
                    <a class="sort-by-btn" href="/posts-wall/oldest"><li>Oldest</li></a>
                    <a class="sort-by-btn" href="/posts-wall/newest"><li></li>Newest</a>
                    <a class="sort-by-btn" href="/posts-wall/most-popular"><li>Most Popular</li></a>
                </ul>
            </div>

            {{#each posts as |post|}}
            {{> post-info post }}
            {{/each}}
        </div>
    </div>
</div>

<script src="/javascript/add-post.js"></script>

{{!-- {{#if loggedIn}}
<script src="/javascript/menu.js"></script>
{{/if}} --}}