<div class="container-fluid mt-3">
  <div class="row pt-2">
    <div class="col-4">
      <img class="profile-img"
           src="{{user.img_url}}"
           alt="Profile picture here">
    </div>
    <div class="col profile-info">
      <div class="profile-container">
        <h2>{{user.username}}</h2>
        <p>{{user.bio}}</p>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-8">
      {{#each posts as |post|}}
      {{> post-info post }}
      {{/each}}
    </div>
  </div>

</div>