/* The animation code */

/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
https://codepen.io/WebSonick/pen/vjmgu
// DON'T FORGET TO CREDIT THIS IN THE README FILE!
================================================================================================= */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:static;
  /* If I uncomment these, the image won't repeat. If we figure out how to have everything else
    scroll while this image stays in place, we'll uncomment these. */
  /* top:0;
  left:0; 
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block; */
  background-repeat: repeat;
  background-position:top center;
}

.stars {
  background-color:#000;
  background-image: url(http://www.script-tutorials.com/demos/360/images/stars.png);
  z-index:1;
}

.twinkling{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png);
    z-index:2;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png);
    z-index:3;

    -moz-animation:move-clouds-back 200s linear infinite;
    -ms-animation:move-clouds-back 200s linear infinite;
    -o-animation:move-clouds-back 200s linear infinite;
    -webkit-animation:move-clouds-back 200s linear infinite;
    animation:move-clouds-back 200s linear infinite;
}
