:root{
    --brownish: #4A403A;
    --redish: #A45D5D;
    --yellowish:#FFC069;
    --greyish: #b3b1b1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body{
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    background: black;
}


button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

html{
    scroll-behavior: smooth;
}

main {
    margin: 0 0 50px 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--brownish);
    padding: 0 5px;
}

.nav-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.link-button{
    margin: 10px 5px;
    padding: 4px 15px;
    color: white;
    transition: all .25s ease-in-out;
}

.link-button:hover{
    background: rgba(255,255,255,.3);
    border-radius: 10px 0 10px 0;
    color: white;
    transform: scale(1.1);
}

.home {
    margin: 11px 0 10px 4px;
}

#home-button{
    padding: 0 40px;
    border-radius: 0 75px 0px 45px;
    font-family: 'Train One';
    font-size: 3.25rem;
    color: var(--yellowish);
    transition: all .25s ease-in-out;
}

#home-button:hover{
    background-color:var(--brownish);
    color: white;
}

.greeting {
    color: white;
    margin: auto 25px;
}

.fa-free-code-camp{
    color: var(--redish);
}

.fa-home, .fa-user-alt, .fa-sign-out-alt, .fa-sign-in-alt{
    color: white;
}

/*POSTS STARTS*/
.post-wrapper{
    padding: 10px;
    margin: 0 auto;
}

.post {
    background: var(--greyish);
    margin: 0 0 5px 0;
}

.separate-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.credentials{
    border-top: solid rgb(93, 93, 93) 1px;
    padding-top: 3px;
}

.fa-heart{
    color: red;
}

.fa-edit {
    color: white;
    margin: -3px -7px 0 15px;
}

.fa-edit:hover{
    color: aqua;
}

.love-btn{
    margin-left: 5px;
}

.loves-count{
    color: white;
    display: inline;
}
/*POSTS ENDS*/


/*LOGIN STARTS*/
.action-button{
    margin: 10px 5px;
    padding: 4px 15px;
    border-radius: 10px 0 10px 0;
    color: white;
    background-color:var(--brownish);
    transition: all .25s ease-in-out;
}

.action-button:hover{
    background-color: var(--greyish);
    border-radius: 10px 0 10px 0;
    color: white;
    transform: scale(1.1);
}

.action-link {
    color: var(--redish);
}

.action-link:hover {
    color: var(--yellowish);
}

#forms-section { /* not used as of 9/26/2021 1pm */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
    padding: 30px 50px;
    background: var(--yellowish);
    align-items: center;
}

.individual-form{ /* not used as of 9/26/2021 1pm */
    margin: 0 2% 0 2%;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: var(--brownish);
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: white;
}

.general-button{ /* not used as of 9/26/2021 1pm */
    background-color: var(--brownish);
    color: white;
}

.login-buttons {/* not used as of 9/26/2021 1pm */
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.login-buttons a { /* not used as of 9/26/2021 1pm */
    margin-left: 18px;
}

/* LOGIN ENDS */

/* MENU START */
.menu{
    background-color: var(--greyish);
}

.menu-button {
    color: var(--redish);
}

/* MENU ENDS */



/* DASHBOARD BEGINS */
.section-title {
    margin: 12px 0 0 0;
    padding: 6px 12px 5px 24px;
    color: var(--brownish);
    border-radius: 0 1px 15px 0;
    width: fit-content;
    background: rgba(255, 255, 255, .7);
}

.new-post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
    padding: 30px 50px;
    background: var(--yellowish);
    align-items: center;
    flex-wrap: nowrap;
}

.row-elem{
    width: 100%;
}

.edit-btn-wrapper{
    width: 100%;
}
/* DASHBOARD ENDS */


/* COMMENTS BEGIN */
.justify-center{
    justify-content: center;
}

.add-comment-form{
    margin: 15px 0 20px 0;
}

.comment-body {
    width: 100%;
    height: 170px;
    margin-bottom: 10px;
    opacity: .85;
    border-radius: 5px;
}

.comment-count{
    margin-left: 15px;
}

#comment-count-box {
    width: fit-content;
    background: var(--brownish);
    color: white;
    padding: 5px 15px;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}
  
.comment:nth-child(odd) {
    background-color: var(--yellowish);
}

.comment:nth-child(even) {
    background-color: rgba(179, 215, 255, .85);
}
  
.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .8;
}
/* COMMENTS ENDS */

/* EDIT-POST BEGINS */
.back{
    margin: 10px 0 0 10px;
}

.edit-buttons{
    margin-top: 10px;
}

.content-box{
    height: 170px;
}
/* EDIT-POST ENDS */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: var(--brownish);
    color: white;
    padding: 10px 0px 0 10px;
}

.title-bar {
    background: var(--brownish);
    color: white;
}